- return unless personal_access_token_expiration_policy_licensed?
- form = local_assigns.fetch(:form)

.form-group
  = form.label :max_personal_access_token_lifetime, _('Maximum allowable lifetime for access token (days)'), class: 'label-light'
  = form.number_field :max_personal_access_token_lifetime, class: 'form-control gl-form-input input-xs'
  %span.form-text.text-muted#max_personal_access_token_lifetime= _('When left blank, default value of {max_personal_access_token_lifetime_in_days} is applied. When set, value must be {max_personal_access_token_lifetime_in_days} or less. When changed, existing access tokens with an expiration date beyond the maximum allowable lifetime are revoked.')
